.note__container {
  border-width: 2px;
  border-radius: 0.5rem;
  color: rgb(255 255 255);
  padding: 0.5rem;
  // width: fit-content;
  resize: both;

  overflow: hidden;
  min-height: 50px;
  height: fit-content;
  max-height: 10rem;
  min-width: 200px;
}
.form__textarea,
.note__textarea {
  resize: none;
  &:focus-within,
  &:focus-visible {
    border: none;
    // border-color: rgb(59 130 246);
    outline: none;
  }
}

.note__textarea {
  width: 100%;
  height: fit-content;
  padding-right: 2rem;
  overflow: hidden;
}

.form__textarea {
  height: fit-content;
  width: 100%;
}

.form__grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  max-width: 400px;
}

.form__submit {
  max-width: fit-content;
  height: fit-content;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: rgb(0 0 0);
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
}

.form__select-workspace {
  order: 2;
}

.note-menu {
  position: absolute;
  display: none;

  right: -12.7rem;
  top: calc(0.25rem * -1);
  z-index: 10;
  top: 0;

  // overflow: hidden;
}

.note-menu::before {
  width: 1rem;
  aspect-ratio: 1 / 1;
  rotate: 45deg;
  position: absolute;
  top: 1rem;
  left: 0;
  // border: 2px solid red;
  // background-color: rgb(82 82 82);
  background-color: rgb(64 64 64);
  margin-left: -0.3rem;
  margin-top: 0.3rem;
  z-index: 10;
  content: "";
}

.note-menu-link {
  min-width: 12rem;
  text-align: start;
  position: relative;
  z-index: 11;
  padding: 0.5rem 1rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  background-color: rgb(64 64 64);
  &:hover {
    background-color: rgb(82 82 82);
  }

  &:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  &:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
  }
}

.note-actions {
  &:focus-within {
    .note-menu {
      display: block;
    }
  }
}

.note-submenu {
  position: absolute;
}

.note-submenu__head {
  position: relative;
  display: flex;
  justify-content: space-between;
  &:hover {
    .note-submenu__list {
      display: block;
    }
  }
}

.note-submenu__list {
  display: none;
  right: -12.25rem;
  top: 0;
  z-index: 20;
  overflow: auto;
}
